.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.881836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls30{letter-spacing:-0.833856px;}
.ls1e{letter-spacing:-0.776064px;}
.ls2b{letter-spacing:-0.301344px;}
.lsd{letter-spacing:-0.251808px;}
.ls2a{letter-spacing:-0.185760px;}
.ls29{letter-spacing:-0.169248px;}
.ls1{letter-spacing:0.000000px;}
.ls22{letter-spacing:0.037152px;}
.ls23{letter-spacing:0.136224px;}
.ls25{letter-spacing:0.140352px;}
.ls16{letter-spacing:0.160992px;}
.ls9{letter-spacing:0.165120px;}
.ls5{letter-spacing:0.165312px;}
.ls15{letter-spacing:0.177504px;}
.ls28{letter-spacing:0.185760px;}
.ls1a{letter-spacing:0.222912px;}
.ls21{letter-spacing:0.227040px;}
.ls26{letter-spacing:0.239424px;}
.ls4{letter-spacing:0.255840px;}
.ls0{letter-spacing:0.259776px;}
.ls2e{letter-spacing:0.284832px;}
.ls20{letter-spacing:0.309600px;}
.ls2{letter-spacing:0.318816px;}
.lsc{letter-spacing:0.326112px;}
.ls24{letter-spacing:0.338496px;}
.ls3{letter-spacing:0.346368px;}
.ls1f{letter-spacing:0.346752px;}
.ls14{letter-spacing:0.350880px;}
.ls19{letter-spacing:0.355008px;}
.lse{letter-spacing:0.359136px;}
.lsb{letter-spacing:0.363264px;}
.lsf{letter-spacing:0.388032px;}
.ls12{letter-spacing:0.392160px;}
.ls1d{letter-spacing:0.396288px;}
.ls18{letter-spacing:0.408672px;}
.ls2c{letter-spacing:0.437568px;}
.ls8{letter-spacing:0.445824px;}
.ls11{letter-spacing:0.449952px;}
.ls7{letter-spacing:0.462336px;}
.ls27{letter-spacing:0.470592px;}
.ls17{letter-spacing:0.478848px;}
.ls1b{letter-spacing:0.482976px;}
.ls2d{letter-spacing:0.495360px;}
.ls10{letter-spacing:0.507744px;}
.ls6{letter-spacing:0.528384px;}
.ls13{letter-spacing:0.569664px;}
.lsa{letter-spacing:0.615072px;}
.ls1c{letter-spacing:0.627456px;}
.ls2f{letter-spacing:0.718272px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-4.343312px;}
._1{margin-left:-3.306240px;}
._4{margin-left:-2.270400px;}
._0{margin-left:-1.105648px;}
._2{width:1.149808px;}
._5{width:41.535360px;}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:39.360000px;}
.fs2{font-size:41.280000px;}
.fs0{font-size:63.360000px;}
.y31{bottom:-8.759980px;}
.y30{bottom:6.600020px;}
.y2f{bottom:22.200020px;}
.y2e{bottom:38.040020px;}
.y1{bottom:41.000000px;}
.y2d{bottom:53.400020px;}
.y2c{bottom:69.240000px;}
.y2b{bottom:84.840000px;}
.y0{bottom:89.000000px;}
.y2a{bottom:100.200000px;}
.y29{bottom:116.040000px;}
.y28{bottom:131.400000px;}
.y27{bottom:147.000000px;}
.y26{bottom:162.840000px;}
.y25{bottom:178.440000px;}
.y24{bottom:193.800000px;}
.y23{bottom:209.640000px;}
.y22{bottom:225.000000px;}
.y21{bottom:240.840000px;}
.y20{bottom:256.440000px;}
.y1f{bottom:271.800000px;}
.y1e{bottom:287.640000px;}
.y1d{bottom:303.240000px;}
.y1c{bottom:318.600000px;}
.y1b{bottom:334.200000px;}
.y1a{bottom:350.040000px;}
.y19{bottom:365.400000px;}
.y18{bottom:381.240000px;}
.y17{bottom:396.600000px;}
.y16{bottom:412.440000px;}
.y15{bottom:428.040000px;}
.y14{bottom:443.640000px;}
.y13{bottom:459.240000px;}
.y12{bottom:474.840000px;}
.y11{bottom:490.200000px;}
.y10{bottom:506.040000px;}
.yf{bottom:521.640000px;}
.ye{bottom:537.240000px;}
.yd{bottom:552.840000px;}
.yc{bottom:568.440000px;}
.yb{bottom:584.040000px;}
.ya{bottom:599.640000px;}
.y9{bottom:615.240000px;}
.y8{bottom:630.840000px;}
.y7{bottom:646.440000px;}
.y6{bottom:662.040000px;}
.y5{bottom:677.400000px;}
.y4{bottom:693.240000px;}
.y3{bottom:708.840000px;}
.y2{bottom:730.440000px;}
.h5{height:26.906250px;}
.h6{height:27.956719px;}
.h8{height:28.218750px;}
.h4{height:28.251563px;}
.h7{height:29.629687px;}
.h3{height:43.312500px;}
.h1{height:659.500000px;}
.h2{height:783.000000px;}
.h0{height:842.000000px;}
.w1{width:442.000000px;}
.w3{width:558.999900px;}
.w2{width:559.000000px;}
.w0{width:595.000000px;}
.x1{left:18.000000px;}
.x4{left:72.000000px;}
.x0{left:84.500000px;}
.x5{left:89.999950px;}
.x6{left:107.999960px;}
.x3{left:144.967500px;}
.x2{left:258.555400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls30{letter-spacing:-1.111808pt;}
.ls1e{letter-spacing:-1.034752pt;}
.ls2b{letter-spacing:-0.401792pt;}
.lsd{letter-spacing:-0.335744pt;}
.ls2a{letter-spacing:-0.247680pt;}
.ls29{letter-spacing:-0.225664pt;}
.ls1{letter-spacing:0.000000pt;}
.ls22{letter-spacing:0.049536pt;}
.ls23{letter-spacing:0.181632pt;}
.ls25{letter-spacing:0.187136pt;}
.ls16{letter-spacing:0.214656pt;}
.ls9{letter-spacing:0.220160pt;}
.ls5{letter-spacing:0.220416pt;}
.ls15{letter-spacing:0.236672pt;}
.ls28{letter-spacing:0.247680pt;}
.ls1a{letter-spacing:0.297216pt;}
.ls21{letter-spacing:0.302720pt;}
.ls26{letter-spacing:0.319232pt;}
.ls4{letter-spacing:0.341120pt;}
.ls0{letter-spacing:0.346368pt;}
.ls2e{letter-spacing:0.379776pt;}
.ls20{letter-spacing:0.412800pt;}
.ls2{letter-spacing:0.425088pt;}
.lsc{letter-spacing:0.434816pt;}
.ls24{letter-spacing:0.451328pt;}
.ls3{letter-spacing:0.461824pt;}
.ls1f{letter-spacing:0.462336pt;}
.ls14{letter-spacing:0.467840pt;}
.ls19{letter-spacing:0.473344pt;}
.lse{letter-spacing:0.478848pt;}
.lsb{letter-spacing:0.484352pt;}
.lsf{letter-spacing:0.517376pt;}
.ls12{letter-spacing:0.522880pt;}
.ls1d{letter-spacing:0.528384pt;}
.ls18{letter-spacing:0.544896pt;}
.ls2c{letter-spacing:0.583424pt;}
.ls8{letter-spacing:0.594432pt;}
.ls11{letter-spacing:0.599936pt;}
.ls7{letter-spacing:0.616448pt;}
.ls27{letter-spacing:0.627456pt;}
.ls17{letter-spacing:0.638464pt;}
.ls1b{letter-spacing:0.643968pt;}
.ls2d{letter-spacing:0.660480pt;}
.ls10{letter-spacing:0.676992pt;}
.ls6{letter-spacing:0.704512pt;}
.ls13{letter-spacing:0.759552pt;}
.lsa{letter-spacing:0.820096pt;}
.ls1c{letter-spacing:0.836608pt;}
.ls2f{letter-spacing:0.957696pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.791083pt;}
._1{margin-left:-4.408320pt;}
._4{margin-left:-3.027200pt;}
._0{margin-left:-1.474197pt;}
._2{width:1.533077pt;}
._5{width:55.380480pt;}
.fs1{font-size:52.480000pt;}
.fs2{font-size:55.040000pt;}
.fs0{font-size:84.480000pt;}
.y31{bottom:-11.679973pt;}
.y30{bottom:8.800027pt;}
.y2f{bottom:29.600027pt;}
.y2e{bottom:50.720027pt;}
.y1{bottom:54.666667pt;}
.y2d{bottom:71.200027pt;}
.y2c{bottom:92.320000pt;}
.y2b{bottom:113.120000pt;}
.y0{bottom:118.666667pt;}
.y2a{bottom:133.600000pt;}
.y29{bottom:154.720000pt;}
.y28{bottom:175.200000pt;}
.y27{bottom:196.000000pt;}
.y26{bottom:217.120000pt;}
.y25{bottom:237.920000pt;}
.y24{bottom:258.400000pt;}
.y23{bottom:279.520000pt;}
.y22{bottom:300.000000pt;}
.y21{bottom:321.120000pt;}
.y20{bottom:341.920000pt;}
.y1f{bottom:362.400000pt;}
.y1e{bottom:383.520000pt;}
.y1d{bottom:404.320000pt;}
.y1c{bottom:424.800000pt;}
.y1b{bottom:445.600000pt;}
.y1a{bottom:466.720000pt;}
.y19{bottom:487.200000pt;}
.y18{bottom:508.320000pt;}
.y17{bottom:528.800000pt;}
.y16{bottom:549.920000pt;}
.y15{bottom:570.720000pt;}
.y14{bottom:591.520000pt;}
.y13{bottom:612.320000pt;}
.y12{bottom:633.120000pt;}
.y11{bottom:653.600000pt;}
.y10{bottom:674.720000pt;}
.yf{bottom:695.520000pt;}
.ye{bottom:716.320000pt;}
.yd{bottom:737.120000pt;}
.yc{bottom:757.920000pt;}
.yb{bottom:778.720000pt;}
.ya{bottom:799.520000pt;}
.y9{bottom:820.320000pt;}
.y8{bottom:841.120000pt;}
.y7{bottom:861.920000pt;}
.y6{bottom:882.720000pt;}
.y5{bottom:903.200000pt;}
.y4{bottom:924.320000pt;}
.y3{bottom:945.120000pt;}
.y2{bottom:973.920000pt;}
.h5{height:35.875000pt;}
.h6{height:37.275625pt;}
.h8{height:37.625000pt;}
.h4{height:37.668750pt;}
.h7{height:39.506250pt;}
.h3{height:57.750000pt;}
.h1{height:879.333333pt;}
.h2{height:1044.000000pt;}
.h0{height:1122.666667pt;}
.w1{width:589.333333pt;}
.w3{width:745.333200pt;}
.w2{width:745.333333pt;}
.w0{width:793.333333pt;}
.x1{left:24.000000pt;}
.x4{left:96.000000pt;}
.x0{left:112.666667pt;}
.x5{left:119.999933pt;}
.x6{left:143.999947pt;}
.x3{left:193.290000pt;}
.x2{left:344.740533pt;}
}
